In [3]:
def announce(f):
    def wrapper(a, b):
        print(f"Before Calling {f.__name__}({a}, {b})")
        r = f(a, b)
        print(f"After Calling {f.__name__}({a}, {b})")
        return r
    return wrapper

@announce
def adding(a, b):
    return a + b

adding(1, 2)

Before Calling adding(1, 2)
After Calling adding(1, 2)

3

In [7]:
def calculate_mean_sd(data):
    if not data:
        print("Error: Empty data")
        return

    mean = sum(data) / len(data)

    sqrt_diff_sum = sum((x - mean) ** 2 for x in data)
    sd = (sqrt_diff_sum / len(data)) ** 0.5

    print(f"Mean: {mean}, SD: {sd}")

calculate_mean_sd([5, 10, 15])

Mean: 10.0, SD: 4.08248290463863

In [12]:
def validate_data(f):
    def wrapper(data):
        if not data:
            print("Error: Empty data")
            return None

        if len(data) == 1:
            print(f"Mean = {data[0]}. No variation in the data (SD = 0)")
            return None

        return f(data)
    return wrapper

@validate_data
def calculate_mean_sd(data):
    mean = sum(data) / len(data)
    sqrt_diff_sum = sum((x - mean) ** 2 for x in data)
    sd = (sqrt_diff_sum / len(data)) ** 0.5
    print(f"Mean: {mean}, SD: {sd}")

calculate_mean_sd([5, 10, 15])
calculate_mean_sd([5])
calculate_mean_sd([])

Mean: 10.0, SD: 4.08248290463863
Mean = 5. No variation in the data (SD = 0)
Error: Empty data

In [15]:
from functools import wraps

def log(f):
    @wraps(f)
    def wrapper(*args, **kwargs):
        print(f"Calling {f.__name__}({args}, {kwargs})")
        r = f(*args, **kwargs)
        return r
    return wrapper

@log
def calc_mean(numbers):
    mean = sum(numbers) / len(numbers)
    print(f"Mean: {mean}")
    return mean

@log
def calc_variance(numbers):
    mean = calc_mean(numbers)
    variance = sum((x - mean) ** 2 for x in numbers) / len(numbers)
    print(f"Variance: {variance}")
    return variance

calc_variance([10, 20, 30, 40, 50])

Calling calc_variance(([10, 20, 30, 40, 50],), {})
Calling calc_mean(([10, 20, 30, 40, 50],), {})
Mean: 30.0
Variance: 200.0

200.0

In [22]:
def bla(f):
    @wraps(f)
    def wrapper(*args, **kwargs):
        print(f"before calling {f.__name__}")
        r = f(*args, **kwargs)
        print(f"after calling {f.__name__}")
        return r
    return wrapper

@bla
@log
def calc_total(data):
    return sum(data)

@bla
@log
def calc_total_plus(data, b): # without wraps, it could break since we are changing the number of arguments
    return sum(data) + b

calc_total([1, 2, 3, 4, 5])
calc_total_plus([1, 2, 3, 4, 5], 10)

before calling calc_total
Calling calc_total(([1, 2, 3, 4, 5],), {})
after calling calc_total
before calling calc_total_plus
Calling calc_total_plus(([1, 2, 3, 4, 5], 10), {})
after calling calc_total_plus

25

In [28]:
from functools import update_wrapper

class CounterCalls:
    def __init__(self, f):
        self.f = f
        self.counter = 0
        update_wrapper(self, f)

    def __call__(self, *args, **kwargs):
        self.counter += 1
        print(f"Counter: {self.counter}")
        return self.f(*args, **kwargs)

@CounterCalls
def ccc(data):
    return sum(data)

ccc([1, 2, 3])
ccc([1, 2, 3])
ccc([1, 2, 3])
ccc([1, 2, 3])

Counter: 1
Counter: 2
Counter: 3
Counter: 4

6

In [32]:
from datetime import datetime
x = "5 jan 2010"
ndate = datetime.strptime(x, "%d %b %Y")
print(ndate)
print(type(ndate))
s = ndate.strftime("%d %b %Y")
print(s)
print(type(s))
now = datetime.now()
print(now)

2010-01-05 00:00:00
<class 'datetime.datetime'>
05 Jan 2010
<class 'str'>
2025-10-15 19:11:20.209154

In [34]:
import pandas as pd

d = {
    'EmpID': [101, 102, 103, 104, 105],
    'year': [1977, 1989, 2000, 2012, 2015],
    'month': [2, 5, 10, 1, 11],
    'day': [2, 3, 1, 1, 5]
}

data_frame = pd.DataFrame(d)
data_frame['Date'] = pd.to_datetime(data_frame[['year', 'month', 'day']])
data_frame

   EmpID  year  month  day       Date
0    101  1977      2    2 1977-02-02
1    102  1989      5    3 1989-05-03
2    103  2000     10    1 2000-10-01
3    104  2012      1    1 2012-01-01
4    105  2015     11    5 2015-11-05

In [35]:
dates = ["12aug08", "01sep09", "7august2007"]
ndates = pd.to_datetime(dates)
ndates

/var/folders/0t/tfsqc14j5wbgh9h4s4dytwb00000gq/T/ipykernel_55042/3404395193.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ndates = pd.to_datetime(dates)

DatetimeIndex(['2008-08-12', '2009-09-01', '2007-08-07'], dtype='datetime64[ns]', freq=None)

In [40]:
import pandas as pd

dates = pd.date_range(start="1/1/2023", periods=5, freq="ME")
df = pd.DataFrame({'date': dates})

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_name'] = df['date'].dt.day_name()
df['quarter'] = df['date'].dt.quarter

df

        date  year  month  day   day_name  quarter
0 2023-01-31  2023      1   31    Tuesday        1
1 2023-02-28  2023      2   28    Tuesday        1
2 2023-03-31  2023      3   31     Friday        1
3 2023-04-30  2023      4   30     Sunday        2
4 2023-05-31  2023      5   31  Wednesday        2

In [42]:
import pandas as pd
from pandas.tseries.offsets import BDay
today = pd.Timestamp.now()
next_business_day = today + BDay(1)
next_business_day

Timestamp('2025-10-16 19:29:22.165371')

In [43]:
from datetime import datetime
from zoneinfo import ZoneInfo # Create a timezone-aware datetime in UTC
utc_now = datetime.now(ZoneInfo("UTC"))
print("UTC time:", utc_now)

# Convert to another timezone (e.g., New York)
ny_time = utc_now.astimezone(ZoneInfo("America/New_York"))
print("New York time:", ny_time)

UTC time: 2025-10-15 18:31:08.995083+00:00
New York time: 2025-10-15 14:31:08.995083-04:00