In [3]:
import pandas as pd
data = pd.read_csv("BANK LOAN.csv")
print(data.shape)
data.head(5)

(700, 8)

   SN  AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0   1    3      17       12      9.3     11.36     5.01          1
1   2    1      10        6     17.3      1.36     4.00          0
2   3    2      15       14      5.5      0.86     2.17          0
3   4    3      15       14      2.9      2.66     0.82          0
4   5    1       2        0     17.3      1.79     3.06          1

In [6]:
srs = data.sample(frac=0.2, random_state=42)
srs.head()

      SN  AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
158  159    2       9        4     13.8      1.35     2.65          1
500  501    1       0        1      7.7      0.48     0.91          0
396  397    2      14        8     17.0      1.14     3.62          0
155  156    2      13        3     19.2      2.80     4.69          0
321  322    1       3        4     11.0      0.29     4.66          1