# Assignment M1 Unit 2 Understanding Data Types in Python Part 1- Questions

1. Create two numeric objects `x` and `y` and assign values `9.8` and `89112` respectively. Print their data types using `type()`. Then convert `x` to an integer using `int()` and print the new value and type.

In [1]:
x = 9.8
y = 89112
print("type x = ", type(x), "type y = ", type(y))
x = int(x) # truncate
print("value x = ", x, "type x = ", type(x), "type y = ", type(y))

2. Assign the value `'Programming'` to a variable `lang`. Print its type. Convert the number 789 to a character using `str()` and print the result and its type.

In [2]:
lang = "Programming"
print("type lang = ", type(lang))
s_number = str(789)
print("s_number = ", s_number, "type number = ", type(s_number))

3. Create a categorical object `x` with values `['Urgent', 'Normal', 'Minor', 'Normal']` using `pd.Series()`. Check its unique levels using `unique()`.

In [3]:
import pandas as pd
x = pd.Series(["Urgent", "Normal", "Minor", "Normal"])
u = x.unique()
print(x)
print(u)

0    Urgent
1    Normal
2     Minor
3    Normal
dtype: object
['Urgent' 'Normal' 'Minor']

4. Assign the value `9.8` to a variable `x`. Check whether it is an integer using `isinstance(x, int)`. Create two variables y = 112 and z = 12 and check if y is greater than z.

In [4]:
x = 9.8
if isinstance(x, int):
    print("x is an integer")
else:
    print("x is not an integer")

y =  112
z = 12
if y > z:
    print("y is greater than z")
else:
    print("y is not greater than z")

x is not an integer
y is greater than z

5. Create a numeric vector v1 = [11, 12, 13], a character vector v2 = ['X', 'Y', 'Z'], and a logical vector v3 = [False, True, False]`. Also create a 3x2 matrix of any numbers using np.array() and `reshape()`.

In [5]:
v1 = [11, 12, 13]
v2 = ['X', 'Y', 'Z']
v3 = [False, True, False]
import numpy as np
m = np.array([1, 2, 3, 4, 5, 6]).reshape(3,2)
print(m)

[[1 2]
 [3 4]
 [5 6]]

6. Create vectors x = [11, 12, 13], y = [9.8, 12.12, 6.12], and z = ['X', 'Y', 'Z']. Combine them into a DataFrame using `pd.DataFrame()`. Then create a list with `x` and `z` using `list()`.

In [6]:
x = [11, 12, 13]
y = [9.8, 12.12, 6.12]
z = ['X', 'Y', 'Z']
df = pd.DataFrame({'x': x, 'y': y, 'z': z})
print(df)
x = list(x)
z = list(z)
print("x =", x, "z =", z)

    x      y  z
0  11   9.80  X
1  12  12.12  Y
2  13   6.12  Z
x = [11, 12, 13] z = ['X', 'Y', 'Z']