# Assignment M1 Unit 9 Handling Dates and Times in Python - Questions

1. Which function converts a string into a datetime object?

    a) datetime.now()

    b) datetime.strptime()

    c) datetime.strftime()

    d) datetime.today()

Answer: b) datetime.strptime()

In [48]:
from datetime import datetime
d = datetime.strptime("2025-08-12", "%Y-%m-%d")
print(d)
print(type(d))

2025-08-12 00:00:00
<class 'datetime.datetime'>

2. In strftime() formatting, what does %Y represent?

    a) Day of the week

    b) Month name

    c) 4-digit year

    d) 2-digit year

Answer: c) 4-digit year

3. Write Python code to convert the string "2025-08-12" into a datetime object and print the month.

In [49]:
from datetime import datetime
def str_to_datetime(str_date: str):
    my_date = datetime.strptime(str_date, "%Y-%m-%d")
    print(my_date.month)

str_to_datetime("2025-08-12")

8

4. Given a Pandas datetime column order_date, extract only the year and create a new column order_year.

In [50]:
import pandas as pd
def create_order_year(data_frame):
    data_frame['order_year'] = data_frame['order_date'].dt.year
    return data_frame

df = pd.date_range(start='2024-01-01', end='2025-12-31', freq='ME').to_frame(name='order_date')
df = create_order_year(df)
df

           order_date  order_year
2024-01-31 2024-01-31        2024
2024-02-29 2024-02-29        2024
2024-03-31 2024-03-31        2024
2024-04-30 2024-04-30        2024
2024-05-31 2024-05-31        2024
2024-06-30 2024-06-30        2024
2024-07-31 2024-07-31        2024
2024-08-31 2024-08-31        2024
2024-09-30 2024-09-30        2024
2024-10-31 2024-10-31        2024
2024-11-30 2024-11-30        2024
2024-12-31 2024-12-31        2024
2025-01-31 2025-01-31        2025
2025-02-28 2025-02-28        2025
2025-03-31 2025-03-31        2025
2025-04-30 2025-04-30        2025
2025-05-31 2025-05-31        2025
2025-06-30 2025-06-30        2025
2025-07-31 2025-07-31        2025
2025-08-31 2025-08-31        2025
2025-09-30 2025-09-30        2025
2025-10-31 2025-10-31        2025
2025-11-30 2025-11-30        2025
2025-12-31 2025-12-31        2025

5. What will be the output of the following code?

```python
from datetime import datetime
dt_str = "2025-01-15"
dt_obj = datetime.strptime(dt_str, "%Y-%m-%d")
print(dt_obj.strftime("%d/%b/%Y"))
```

    a) 15/January/2025

    b) 15/Jan/2025

    c) 2025-01-15

    d) 15/01/2025

In [51]:
from datetime import datetime
dt_str = "2025-01-15"
dt_obj = datetime.strptime(dt_str, "%Y-%m-%d")
print(dt_obj.strftime("%d/%b/%Y"))

15/Jan/2025

Answer: b) 15/Jan/2025

6. Which is the correct format code in strftime() and Pandas function to extract the month name?

    a) strftime() with %B and .dt.month_name() in Pandas

    b) strftime() with %b and .dt.month_name() in Pandas

    c) strftime() with %b and .month() in Pandas

    d) strftime() with %B and .month_name() in Pandas

Answer: a) strftime() with %B and .dt.month_name() in Pandas (Pandas answer return full month name, so %B for the same, otherwise %b could be used (for short month name))

In [52]:
from datetime import datetime
date = datetime.strptime("2025-08-12", "%Y-%m-%d")
m = date.strftime("%B")
print(m)

import pandas as pd
df = pd.date_range(start="2024-01-01", end="2024-12-31", freq="ME").to_frame(name="days")
df["month name"] = df["days"].dt.month_name()
df

August

                 days month name
2024-01-31 2024-01-31    January
2024-02-29 2024-02-29   February
2024-03-31 2024-03-31      March
2024-04-30 2024-04-30      April
2024-05-31 2024-05-31        May
2024-06-30 2024-06-30       June
2024-07-31 2024-07-31       July
2024-08-31 2024-08-31     August
2024-09-30 2024-09-30  September
2024-10-31 2024-10-31    October
2024-11-30 2024-11-30   November
2024-12-31 2024-12-31   December