In [1]:
from unilab import hello

In [2]:
hello("Nilton")

'Hello, Nilton! Wellcome to master class project: Jupyter + Python.'

In [3]:
x = 4.5
type(x)

float

In [4]:
y = 2
type(y)

int

In [5]:
z = 4.5
print(type(z))
z = int(z)
z

<class 'float'>

4

In [6]:
type(z)

int

In [7]:
print(f'{z}')

4

In [8]:
print(f"{z}")

4

In [9]:
type("any string")

str

In [10]:
isinstance(x, int)

False

In [11]:
import numpy as np
a = np.array([1, 2, 3, 4.3])
a = a > 2
a

array([False, False,  True,  True])

In [12]:
import pandas as pd
w = pd.DataFrame(np.array([1, 2, 3, 4]).reshape(2, 2), index=['a', 'b'], columns=['x', 'y'])
w

   x  y
a  1  2
b  3  4

In [13]:
w * 10

    x   y
a  10  20
b  30  40

In [14]:
w1 = w
w2 = pd.DataFrame(np.array([4, 3, 2, 1]).reshape(2, 2), index=['a', 'b'], columns=['x', 'y'])

In [15]:
w1 + w2

   x  y
a  5  5
b  5  5

In [16]:
w1 - w2

   x  y
a -3 -1
b  1  3

In [17]:
w1 * w2

   x  y
a  4  6
b  6  4

In [18]:
w.rename(columns={'x': 'z'}, inplace = False)

   z  y
a  1  2
b  3  4

In [19]:
g = w.rename(columns={'x': 'z'}, inplace = False)
print(w)
g

   x  y
a  1  2
b  3  4

   z  y
a  1  2
b  3  4

In [20]:
import pandas as pd
data = {"x":[1, 2, 3], "y":[4, 5, 6], "z":["a", "b", "c"]}
frame = pd.DataFrame(data)
frame

   x  y  z
0  1  4  a
1  2  5  b
2  3  6  c

In [21]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3 non-null      int64
 1   y       3 non-null      int64
 2   z       3 non-null      object
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [22]:
s = [1, 2, 3, 4]
n = ["a", "b", "c", "d"]
s + n

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [23]:
X = list(s + n)
X

[1, 2, 3, 4, 'a', 'b', 'c', 'd']