In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("Retail_Data.csv")
data.head()

   Retailer   Zone Retailer_Age  Perindex  Growth NPS_Category
0         1  North          <=2     81.84    3.04     Promoter
1         2   East       2 to 5     53.22    4.22    Detractor
2         3   West           >5     85.33    6.73     Promoter
3         4   West           >5     82.00    1.56     Promoter
4         5  South       2 to 5     64.35    2.71    Detractor

In [5]:
data.describe(include="all")

          Retailer   Zone Retailer_Age   Perindex      Growth NPS_Category
count   100.000000    100          100  99.000000  100.000000          100
unique         NaN      4            3        NaN         NaN            3
top            NaN  South           >5        NaN         NaN      Passive
freq           NaN     32           56        NaN         NaN           41
mean     50.500000    NaN          NaN  70.496970    5.152800          NaN
std      29.011492    NaN          NaN   9.569232    2.620525          NaN
min       1.000000    NaN          NaN  46.530000    1.470000          NaN
25%      25.750000    NaN          NaN  65.080000    3.057500          NaN
50%      50.500000    NaN          NaN  71.150000    4.495000          NaN
75%      75.250000    NaN          NaN  77.175000    6.340000          NaN
max     100.000000    NaN          NaN  92.490000   17.500000          NaN

In [6]:
plt.get_backend()

'module://matplotlib_inline.backend_inline'